<!-- import base html header -->
{% extends "base.html" %}

<!-- admin page block -->
{% block content %}

	
      <h2>Forgot Password?</h2>
      
      <!--   Flask-WTF form for login -->
  <form action="" method="post" name="reset">
	<!-- hidden field implements csrf protection on the page -->
      {{ form.hidden_tag() }}
      <p>
		<!-- field to enter email address -->
          Please enter your E-mail:<br>
          {{ form.email(size=35) }}<br>
			<!-- show validation errors on form in red -->
          {% for error in form.email.errors %}
          	<span class='invalid'>[{{ error }}]</span>
          {% endfor %}<br>
          
      </p>
		<!-- checkbox for future feature to add "remember me" option -->
<!--       <p>{{ form.remember_me }} Remember Me</p> -->
      <p><input type="submit" value="Forgot Password" id="forgotSubmit"></p>
  </form>
  
  <br><a href="login">Return to login page</a>

{% endblock %}