<!-- import base html header -->
{% extends "base.html" %}

<!-- feed/home page block -->
{% block content %}

<div class="row">
<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-body">                
            <form action="" method="post" name="bark">
                {{ form.hidden_tag() }}
                {{ form.barkBody(class='form-control counted', placeholder="Type in your message", rows="2", style="margin-bottom:10px") }}
                <h6 class="pull-right" id="counter"><div id='barkCount' class='valid'>140 characters remaining.</div></h6>
                <button class="btn btn-info" type="submit">Post New Bark</button>
            </form>
        </div>
    </div>
            
        <h3>Dogfeed:</h3>
        <!-- Loop through and display all barks in database -->
        {% for bark in barks %}
        <!-- display user's first & last name and email address with each bark posted -->
        <ul class="media-list">
            <li class="media">
            <a class="media-left">
                <img class="img-rounded" src="http://www.gravatar.com/avatar/3b3be63a4c2a439b013787725dfce802?d=identicon&s=60">
            </a>
            <div class="media-body">
                <strong class="media-heading">{{ bark.author.firstName }} {{ bark.author.lastName }}</strong> <small>({{ bark.author.email }})</small>
                <p>{{ bark.barkBody | urlize(40, true) }}</p>
            </div>
            </li>
        </ul>
        {% endfor %}
</div>
<div class="col-lg-4">

<form role="form" action="/follow" method="post" name="follow">
  {{ followForm.hidden_tag() }}
  <div class="form-group">
    <label for="exampleInputEmail1">Follow user by email address</label>
    {{ followForm.email(class="form-control", placeholder="Enter email") }}
  </div>
  <button type="submit" class="btn btn-success">Follow</button>
</form>

</div>
</div>
{% endblock %}
