<!-- import base html header -->
{% extends "base.html" %}

<!-- admin page block -->
{% block content %}
	
      <h1>Reset Password</h1>
      
      <p>{{ user.firstName }}...try to remember your password next time.</p>

      <!--   Flask-WTF form for login -->
  <form action="" method="post" name="reset">
	<!-- hidden field implements csrf protection on the page -->
      {{ form.hidden_tag() }}
      <p>
          <!-- Security Question 1 -->
          {{ user.securityQuestion1 }}
          
          <!-- field to enter Security Answer 1 -->
          <br>
          {{ form.securityAnswer1(size=35) }}<br>
          <!-- show validation errors on form in red -->
          {% for error in form.securityAnswer1.errors %}
          	<span class='invalid'>[{{ error }}]</span>
          {% endfor %}<br>
          
          <!-- Security Question 2 -->
          {{ user.securityQuestion2 }}
          
          <!-- field to enter Security Answer 2 -->
          <br>
          {{ form.securityAnswer2(size=35) }}<br>
          <!-- show validation errors on form in red -->
          {% for error in form.securityAnswer2.errors %}
          	<span class='invalid'>[{{ error }}]</span>
          {% endfor %}<br>
          
          <!-- Security Question 3 -->
          {{ user.securityQuestion3 }}
          
          <!-- field to enter Security Answer 3 -->
          <br>
          {{ form.securityAnswer3(size=35) }}<br>
          <!-- show validation errors on form in red -->
          {% for error in form.securityAnswer3.errors %}
          	<span class='invalid'>[{{ error }}]</span>
          {% endfor %}<br>
          
          <!-- field to enter password -->
          Set New Password:<br>
          {{ form.password(size=35) }}<br>
          <!-- show validation errors on form in red -->
          {% for error in form.password.errors %}
          	<span class='invalid'>[{{ error }}]</span>
          {% endfor %}<br>
          
          <!-- field to retype password -->
          Retype Password:<br>
          {{ form.password_match(size=35) }}<div id='pw_match'></div>
          <!-- show validation errors on form in red -->
          {% for error in form.password_match.errors %}
          	<span class='invalid'>[{{ error }}]</span>
          {% endfor %}<br>
          
      </p>
		<!-- checkbox for future feature to add "remember me" option -->
<!--       <p>{{ form.remember_me }} Remember Me</p> -->
      <p><input type="submit" value="Reset Password" id="regSubmit"></p>
  </form>
  
    <br><a href="logout">Return to login page</a>

{% endblock %}